/* ==========================================================================
   #RADIO BUTTON
   ========================================================================== */

.c-radio {
  @include clickableInput();

  &__replacement {
    border-radius: 50%;

    &:before {
      @include absolutePseudoContent();
      @include square-style($inuit-font-size-h5);
      border-radius: 50%;
      left: 1px;
      top: 1px;
    }
  }

  &--disabled {
    background-color: color-var(bg, 4) !important;
    border-color: color-var(border, 1) !important;
  }
}
