$global-heading-font-family: "Roboto", times;
$global-strong-font-weight: 700;
$global-heading-font-weight: 500;
$global-body-font-family: "Roboto", arial;
$inuit-global-font-size: 16px;
$inuit-font-size-h0: ceil($inuit-global-font-size * 3.5);
$inuit-font-size-h1: ceil($inuit-global-font-size * 3.12);
$inuit-font-size-h2: ceil($inuit-global-font-size * 2.12);
$inuit-font-size-h3: ceil($inuit-global-font-size * 1.3);
$inuit-font-size-h5: ceil($inuit-global-font-size * 0.87);
$inuit-font-size-h6: ceil($inuit-global-font-size * 0.75);
$inuit-global-line-height: 1.5em;
$inuit-line-height-h0: 1em;
$inuit-line-height-h1: 1em;
$inuit-line-height-h2: 1.17em;
$inuit-line-height-h3: 1.2em;
$inuit-line-height-h5: 1.3em;
$inuit-line-height-h6: 1.3em;
$inuit-global-baseline: 8px;
