@import 'presettings/_colors';
@import 'presettings/_custom-borders_shadows';
@import 'presettings/_custom-colors';
@import 'presettings/_custom-transitions';
@import 'presettings/_custom-typography';
@import 'presettings/_default-colors';

@import 'settings/_global';
@import 'settings/_inuit-variables';

@import 'sass-mq/_mq';

@import 'tools/_breakpoints';
@import 'tools/_clearfix';
@import 'tools/_decoration';
@import 'tools/_flex-widths-small';
@import 'tools/_flex-widths';
@import 'tools/_flex';
@import 'tools/_font-size';
@import 'tools/_form';
@import 'tools/_hidden';
@import 'tools/_rwd';
@import 'tools/_svg';

@import 'generic/_box-sizing';
@import 'generic/_font-face';
@import 'generic/_reset';
@import 'generic/_shared';

@import 'elements/_blockquote';
@import 'elements/_headings';
@import 'elements/_hr';
@import 'elements/_html';
@import 'elements/_images';
@import 'elements/_links';
@import 'elements/_lists';
@import 'elements/_tables';

@import 'objects/_flex';
@import 'objects/_layout';
@import 'objects/_link';
@import 'objects/_list-bare'; 
@import 'objects/_list-inline';
@import 'objects/_media';
@import 'objects/_section';
@import 'objects/_table';
@import 'objects/_wrapper';

// @import 'components/datepicker';
// @import 'components/filelist';
// @import 'components/form';
// @import 'components/harmony';
@import 'components/headings';
@import 'components/navigation';
// @import 'components/input';
// @import 'components/label';
// @import 'components/radio';
// @import 'components/select';
// @import 'components/switch';
// @import 'components/tag';
// @import 'components/textarea';

// Components
html, body {
    overflow-x: hidden;
}

.c-start {
    &__image, &__container {
        height: 100%;
    }

    &__image {
        opacity: 0;
        background: url(../img/bg-start.jpg);
        background-repeat: no-repeat;
        background-position: center;    
        background-size: cover;
        animation: fade-in 0.75s ease-in both;
    }

    &__container {
        background-position: 0%;
        background-size: 200% !important;
        background: linear-gradient(to right, color-var(func, 4) 50%, color-var(bg, 2) 50%);
        animation: fill-in-bg 1.75s cubic-bezier(0.25,0.1,0.25,1) both;
        animation-delay: 0s;
    }

    &__content {
        opacity: 0;
        padding: 60px 80px;
        position: absolute;
        left: 40%;
        right: auto;
        width: max-content;
        box-shadow: 10px 10px 25px rgba(0,0,0,0.4);
        animation: fade-in-top 950ms ease-in-out both;
        animation-delay: 0.2s;
    }

    &__buttons {
        position: absolute;
        bottom: 20px;
        right: 0;
        transform: translateY(100px);
    }
}

.c-icon {
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.c-button {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-weight: 500;
    background: white;
    border-radius: 5px;
    padding: 12px 30px 12px 25px;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    transition: $global-transition;

    &:hover, &:focus, &:active {
        box-shadow: 10px 10px 25px rgba(0,0,0,0.4);
        transform: scale(1.01);
    }
}

.c-menu--top {
    position: absolute;
    padding: 12px;
    top: 20px;
    right: -2px;
    background: rgba(0,0,0,0.8);
    line-height: 1;
    border-radius: 4px; 
}

.c-nav {
    &__picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 5px 7px rgba(0,0,0,0.3); 
        border: 2px solid #d500004f;
    }
} 

@keyframes expand-card {
    0% {
        background-position: right bottom;
    }
    
    95% {
        background-position: left bottom;
    }
    
    100%  {
        background-position: left bottom;
    }
}
@keyframes expand-shadow {
    0% {
        box-shadow: 0 0 0 rgba(0,0,0,0.3); 
    }

    50% {
        box-shadow: 0 0 0 rgba(0,0,0,0.3); 
    }
    
    100%  {
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
}

.c-card {
    border-radius: 4px;
    height: auto; 
    opacity: 1;
    width: 100%;
    background: linear-gradient(to right, color-var(bg, 2) 50%, transparent 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all 1s ease-in-out;
    animation: expand-card 350ms forwards cubic-bezier(0.25,0.1,0.25,1), expand-shadow 550ms cubic-bezier(0.25,0.1,0.25,1) 1000ms forwards;

    &--info {
        background: linear-gradient(to right, white 50%, transparent 50%);
        background-position: right bottom;
        background-size: 200% 100%;
        transition: all 1s ease-in-out;
        animation: expand-card 350ms forwards cubic-bezier(0.25,0.1,0.25,1), expand-shadow 550ms cubic-bezier(0.25,0.1,0.25,1) 1000ms forwards;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to  {
        opacity: 1;
    }
}

@keyframes fadeIn-half {
    from {
        opacity: 0;
    }
    
    to  {
        opacity: 0.9;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    
    to  {
        opacity: 0;
    }
}

.fading-out {
    animation: fadeOut 500ms ease-in-out both !important;
}

.fadeOnStart {
    opacity: 0;
    animation: fadeIn 350ms cubic-bezier(0.25,0.1,0.25,1) forwards;
    animation-delay: 300ms;
}

.light-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.__react_component_tooltip {
	max-width: 400px !important;
}
 
.c-list {
    margin: 0 !important;

    &__item {
        display: block; 
        background: white;
        padding: 7px 15px;
        border-radius: 3px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.3);
        opacity: 0;
        cursor: pointer;

        &:last-of-type{
            margin-bottom: 0 !important;
        }

        animation: fadeIn-half 450ms ease forwards;
        animation-delay: 300ms;

        &:hover {
            transition: all 200ms ease-in-out;
            opacity: 1 !important;
        }
    }
}

.o-link {
    cursor: pointer;
    transition: all 0.2s ease;
}  

.list-scrolling {
    max-height: 500px;
    overflow-y: scroll;
}

.c-dashboard {
    min-height: 100vh;
}

.c-life-circle {
    position: relative;
    height: 300px;
    width: 300px;

    svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

    @for $i from 1 through 8 {
        svg:nth-of-type(#{$i}) {
          transform: rotate(#{$i*45}deg);
        }
    }
} 

.c-chart {
    &--life-graph {
        canvas {
            width: 100% !important;
            height: auto !important;
            margin: auto !important;
            font-weight: bold;
        }
    }
}

.u-margin-auto { 
    margin: auto;
}

.multi-step-body {
    box-shadow: 10px 10px 25px rgba(0,0,0,0.4);
    background: white;
    width: 600px;
    text-align: center;
    height: 400px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto !important;
    animation: fade-in 0.35s ease-in both;
    animation-delay: 1.3s;
    z-index: 9999999;
}

.multi-step-nav {
    display: none !important;
}

.survey-box {
    animation: fadeIn 0.35s ease-in both;
}

.overlay {
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999998;
    animation: fade-in 0.35s ease-in both;
    animation-delay: 1s;
}

.done {
    transition: $global-transition;
    text-decoration: line-through;
    background-color: #acacac;
}

.c-list__item {
    transition: $global-transition;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.task-icons {
	width: 60px;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    
    svg {
        opacity: 0.7;
        transition: $global-transition;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        &:hover {
            transition: $global-transition;
            cursor: pointer;
            opacity: 1;
        }
    }
    svg:nth-of-type(1):hover {
        transition: $global-transition;
        fill: #dc004e;
        opacity: 0.8;
    }
    svg:nth-of-type(2):hover {
        transition: $global-transition;
        fill: #388e3c;
        opacity: 0.8;
    }
}
.task-title {
	display: flex;
	width: calc(100% - 60px);
    padding-right: 20px;
}


@import 'utilities/_align';
@import 'utilities/_animations';
@import 'utilities/_clearfix';
@import 'utilities/_custom';
@import 'utilities/_flex-widths';
@import 'utilities/_hide';
@import 'utilities/_misc';
@import 'utilities/_spacings';
@import 'utilities/_text';